/* Reset default margins/paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.logo img{
    max-width: 50px;
height: auto;}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.username {
    background-color: #eaf5ff;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #007BFF;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh; /* Fits into viewport without scroll */
    padding: 0 5%;
    background: #f9fcff;
}

.hero-left {
    flex: 1;
    max-width: 50%;
}

.hero-left h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.hero-left span {
    color: #00A2FF;
}

.hero-left p {
    color: #777;
    margin: 1rem 0 2rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 80%;
}

.hero-left button {
    background-color: #00A2FF;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hero-left button:hover {
    background-color: #437b9be4;
}

.hero-left button{
    background-color: #00A2FF;
    color: white;
    padding: .6rem .3rem;
}

.hero-left button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 162, 255, 0.3);
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
}



.hero-right img {
    max-width: 90%;
    height: auto;
}

